[submodule "dos_port/tools/unicode_converter"]
	path = dos_port/tools/unicode_converter
	url = git@github.com:Happyarch/Pokemon_Bootleg_Green_Scripts.git
[submodule "docs/references/openmusictheory.github.io"]
	path = docs/references/openmusictheory.github.io
	url = git@github.com:Happyarch/openmusictheory.github.io.git
	branch = claude-skills-prep
